@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #2d3440;
  background-color: #ffffff;
}

.page-body--theme-1 {
  background-color: #feafc3;
}

.page-body--theme-2 {
  background-color: #69a9ff;
}

.page-body--theme-3 {
  background-color: #fcc850;
}

.page-body__header-inner {
  margin-bottom: 30px;
}

.page-body__main-inner {
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fcfcfc;
  border: none;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  outline-offset: 0;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.button:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button--bright {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button--bright:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
}

.button--bright:focus-visible {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.button--bright:active {
  background-color: #feafc3;
}

.button--bright:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.button--loading {
  position: relative;
  padding-right: 56px;
}

.button--loading::after {
  position: absolute;
  top: 35%;
  right: 20%;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(36, 36, 36, 0.24);
  border-bottom-color: #242424;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  content: "";
}

.button--bright--loading {
  position: relative;
  padding-right: 56px;
}

.button--bright--loading::after {
  position: absolute;
  top: 35%;
  right: 20%;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(252, 252, 252, 0.25);
  border-bottom-color: #fcfcfc;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  content: "";
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.close-button {
  position: relative;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-button::after,
.close-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 1.3px;
  background-color: #2d3440;
  border-radius: 10px;
  content: "";
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover::after,
.close-button:hover::before {
  background-color: #ff2f64;
}

.close-button:active::after,
.close-button:active::before {
  background-color: rgba(255, 47, 100, 0.5);
}

.close-button:focus-visible {
  outline: 2px solid #2d3440;
}

.field {
  width: 100%;
  padding: 14px 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  border: none;
  outline: 1px solid #b9b9b9;
  border-radius: 4px;
}

.field:hover {
  outline-color: #2d3440;
}

.field:focus-visible {
  outline-width: 2px;
  outline-color: #2d3440;
}

.field:disabled {
  background-color: #e7e7e7;
}

.field--error {
  outline-color: #ea5454;
}

.field--error:hover {
  outline-width: 2px;
  outline-color: #ea5454;
}

.field::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  max-width: 422px;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  list-style: none;
}

.site-list__item {
  position: relative;
}

.site-list__item:focus-within .dropdown-list {
  display: block;
}

.site-list__link {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 30px;
  outline-offset: 0;
  transition: background-color ease-in 0.3s;
}

.site-list__link:hover + .dropdown-list {
  display: block;
}

.site-list__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.site-list__link:active {
  background-color: #fcfcfc;
}

.site-list__link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.site-list__link--current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.site-list__link--current:hover {
  background-color: rgba(255, 74, 120, 0.6);
}

.site-list__link--current:active {
  background-color: rgba(255, 74, 120, 0.3);
}

.site-list__link--current:focus-visible {
  background-color: #ff4a78;
  outline: 2px solid #2d3440;
}

.site-list__link--dropdown {
  padding: 8px 38px 8px 16px;
}

.site-list__link--dropdown:hover .site-list__icon {
  transform: rotate(-180deg);
}

.site-list__link--dropdown:hover .site-list__icon-path {
  fill: #fcfcfc;
}

.site-list__icon {
  position: absolute;
  top: 7px;
  right: 17px;
}

.site-list__dropdown-list {
  position: absolute;
  top: 36px;
  left: 0;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  max-width: 450px;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  list-style: none;
}

.user-list__item {
  position: relative;
  margin-right: 13px;
}

.user-list__item:focus-within .user-list__popover {
  display: block;
}

.user-list__item:last-child,
.user-list__item:first-child {
  margin-right: 0;
}

.user-list__contact-phone {
  display: block;
  margin-right: 8px;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 30px;
}

.user-list__contact-phone:hover {
  color: #fcfcfc;
}

.user-list__contact-phone:active {
  color: rgba(252, 252, 252, 0.5);
}

.user-list__contact-phone:focus-visible {
  outline: 2px solid #2d3440;
}

.user-list__popover {
  position: absolute;
  top: 40px;
  right: -1px;
}

.user-list__button {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.user-list__button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-list__button:focus {
  outline: none;
}

.user-list__button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.user-list__button:active {
  background-color: #fcfcfc;
}

.user-list__button--current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.user-list__button--current .user-list__icon-path {
  fill: #fcfcfc;
}

.user-list__button--search {
  width: 32px;
  height: 32px;
  justify-content: center;
  padding: 0;
}

.user-list__button--search .user-list__icon {
  margin-right: 0;
}

.user-list__icon {
  margin-right: 6px;
}

.dropdown-list {
  display: none;
  min-width: 135px;
  margin: 0;
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.dropdown-list:hover {
  display: block;
}

.dropdown-list::after {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}

.dropdown-list__item {
  padding: 6px 13px 6px 16px;
}

.dropdown-list__item:hover {
  background-color: #ffcbd8;
}

.dropdown-list__item:focus-within {
  background-color: #ff2f64;
}

.dropdown-list__item:active {
  background-color: #ff7799;
}

.dropdown-list__item--current {
  background-color: #ff4a78;
}

.dropdown-list__item--current .dropdown-list__link {
  color: #fcfcfc;
}

.dropdown-list__item--highlighted {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

.dropdown-list__item--highlighted::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #b9b9b9;
  content: "";
}

.dropdown-list__link {
  text-decoration: none;
  color: #2d3440;
}

.dropdown-list__link:focus {
  outline: none;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-search__label {
  position: relative;
  display: inline-block;
  width: 324px;
}

.form-search__field {
  padding-right: 48px;
}

.form-search__field:placeholder-shown + .form-search__button {
  display: none;
}

.form-search__button {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.form-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-login__label {
  width: 324px;
  margin-bottom: 16px;
}

.form-login__label--password {
  margin-bottom: 30px;
}

.form-login__button {
  margin-right: 17px;
}

.form-login__link {
  display: flex;
  margin-bottom: 4px;
  padding: 0 7px;
  font-size: 14px;
  line-height: 20px;
  text-underline-offset: 4px;
  color: #2d3440;
  border-radius: 30px;
}

.form-login__link:hover {
  color: #ff2f64;
}

.form-login__link:active {
  color: rgba(255, 47, 100, 0.5);
}

.form-login__link:focus-visible {
  outline: 2px solid #2d3440;
}

.basket-list {
  position: relative;
  min-width: 345px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.basket-list::after {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  content: "";
}

.basket-list__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 345px;
  margin-bottom: 24px;
}

.basket-list__image {
  display: inline-block;
  margin-right: 16px;
}

.basket-list__purchase-info-wrapper {
  width: 164px;
}

.basket-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.basket-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.basket-list__price {
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.popover {
  display: none;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 3;
}

.popover--show {
  display: block;
}

.popover--search {
  padding: 24px 16px;
}

.popover--login {
  padding-bottom: 52px;
}

.popover--basket--empty {
  padding: 48px 0;
}

.popover__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popover__text {
  display: none;
  width: 288px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.popover__text--show {
  display: block;
}

.popover__text--show + .popover__wrapper {
  display: none;
}

.popover__list {
  margin-bottom: 64px;
}

.popover__button {
  margin-right: 27px;
  text-decoration: none;
  color: #fcfcfc;
}

.popover__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 104px;
}

.header__logo {
  display: flex;
  align-self: center;
  margin-right: 16px;
}

.header__logo:hover {
  opacity: 0.5;
}

.header__logo:active {
  opacity: 0.3;
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  opacity: 0.3;
}

.header__logo-icon {
  display: inline-block;
}

.header__site-menu {
  margin-right: auto;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: background-color ease-in 0.3s;
}

.social-list__link {
  display: flex;
}

.social-list__link:hover .social-list__icon-circle {
  fill: #2d3440;
}

.social-list__link:hover .social-list__icon-rect {
  stroke-opacity: 0.5;
}

.social-list__link:active .social-list__icon-circle {
  opacity: 0.5;
}

.social-list__link:focus {
  outline: none;
}

.social-list__link:focus-visible .social-list__icon-circle {
  fill: #2d3440;
  stroke: #2d3440;
  stroke-width: 2;
}

.social-list__link:focus-visible .social-list__icon-rect {
  stroke: #2d3440;
  stroke-opacity: 1;
}

.customers-list {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 384px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.customers-list__item {
  position: relative;
  margin-right: 12px;
}

.customers-list__icon {
  position: absolute;
  top: 2px;
  left: -17px;
  width: 16px;
  height: 16px;
  color: #2d3440;
}

.customers-list__link {
  display: inline-block;
  padding: 0 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 30px;
}

.customers-list__link:hover {
  color: #fcfcfc;
}

.customers-list__link:hover + .customers-list__icon {
  color: #fcfcfc;
}

.customers-list__link:active {
  color: rgba(252, 252, 252, 0.5);
}

.customers-list__link:active + .customers-list__icon {
  color: rgba(252, 252, 252, 0.5);
}

.customers-list__link:focus-visible {
  outline: 2px solid #2d3440;
}

.customers-list__link--suppliers {
  position: relative;
  margin-left: -21px;
  padding-left: 27px;
  font-weight: 700;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 207px;
}

.copyright__icon {
  color: #2d3440;
}

.copyright__link {
  display: flex;
  width: 93px;
  margin-bottom: 14px;
  text-decoration: none;
}

.copyright__link,
.copyright__text-link {
  color: #2d3440;
  text-underline-offset: 3px;
}

.copyright__link:hover,
.copyright__text-link:hover {
  color: #fcfcfc;
}

.copyright__link:hover .copyright__icon,
.copyright__text-link:hover .copyright__icon {
  color: #fcfcfc;
}

.copyright__link:active,
.copyright__text-link:active {
  color: rgba(252, 252, 252, 0.5);
}

.copyright__link:active .copyright__icon,
.copyright__text-link:active .copyright__icon {
  color: rgba(252, 252, 252, 0.5);
}

.copyright__link:focus-visible,
.copyright__text-link:focus-visible {
  border-radius: 30px;
  outline: 2px solid #2d3440;
  outline-offset: 2px;
}

.copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 0 48px 2px;
}

.footer__nav--top-line {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer__social {
  margin-top: -2px;
  margin-right: auto;
}

.footer__customers {
  margin-right: 15.4%;
}

.main-index {
  flex-grow: 1;
}

.main-index__slider {
  margin-bottom: 80px;
}

.main-index__promotions {
  margin-bottom: 81px;
}

.main-index__popular-products {
  margin-bottom: 80px;
}

.main-index__about-us {
  margin-bottom: 80px;
}

.main-index__column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.main-index__delivery {
  margin-bottom: 80px;
}

.main-inner {
  flex-grow: 1;
}

.main-inner__main-header {
  margin-bottom: 16px;
}

.main-inner__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.main-inner__form {
  margin-bottom: 79px;
}

.main-inner__product-range {
  margin-bottom: 40px;
}

.slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}

.slider__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 46.4%;
  left: 73%;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  z-index: 2;
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.slider__button:hover {
  background-color: #fcfcfc;
}

.slider__button:hover .slider__button-icon-path {
  fill: #2d3440;
}

.slider__button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider__button:active .slider__button-icon-path {
  fill: #2d3440;
}

.slider__button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid #2d3440;
}

.slider__button:focus-visible .slider__button-icon-path {
  fill: #2d3440;
}

.slider__button:disabled {
  opacity: 0.4;
}

.slider__button--prev {
  left: 46%;
  transform: rotate(180deg) translateX(-10%);
}

.slider__row-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider__social {
  margin-bottom: -2px;
}

.slier-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slier-pagination__item:not(:last-child) {
  padding-right: 8px;
}

.slier-pagination__button {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slier-pagination__button:not(.slier-pagination__button--active):hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #fcfcfc;
}

.slier-pagination__button:not(.slier-pagination__button--active):active {
  background-color: rgba(252, 252, 252, 0.5);
}

.slier-pagination__button:focus {
  outline: none;
}

.slier-pagination__button:not(.slier-pagination__button--active):focus-visible {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
}

.slier-pagination__button--active {
  background-color: #fcfcfc;
}

.elements-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.elements-list__item {
  display: flex;
  align-items: center;
  margin-right: 41px;
}

.elements-list__item--current {
  margin-right: 62px;
  padding-left: 70px;
  order: -1;
}

.elements-list__item--current + .elements-list__item {
  order: -1;
}

.elements-list__item--current .elements-list__wrapper {
  display: block;
}

.elements-list__item--current .elements-list__image-wrapper {
  opacity: 1;
}

.elements-list__item--current .elements-list__image-wrapper::before {
  width: 312px;
  height: 312px;
}

.elements-list__item--current .elements-list__image {
  width: 306px;
  height: 507px;
}

.elements-list__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.elements-list__description {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.elements-list__wrapper {
  display: none;
  width: 451px;
  min-height: 295px;
  margin-right: 40px;
  padding-top: 9px;
}

.elements-list__image-wrapper {
  position: relative;
  opacity: 0.4;
}

.elements-list__image-wrapper::before {
  position: absolute;
  top: 50%;
  left: 51%;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  content: "";
}

.elements-list__image {
  position: relative;
  display: block;
  z-index: 1;
}

.elements-list__button {
  text-decoration: none;
  color: #2d3440;
}

.promotions__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotions__title {
  margin: 0;
  margin-bottom: 55px;
  width: 435px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.promotions__list {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gift {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px 36px;
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  border-radius: 16px;
}

.gift--raspberry {
  background-image: url("../../images/raspberry.png");
}

.gift--marshmallow {
  background-image: url("../../images/marshmallow.png");
}

.gift__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gift__description {
  width: 65%;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.gift__description--marshmallow {
  width: 60%;
}

.gift__button {
  color: #2d3440;
  text-decoration: none;
}

.gift__image {
  display: inline-block;
  height: 100%;
}

.popular-products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-products__title {
  margin: 0;
  width: 530px;
  margin-bottom: 107px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-list__item {
  display: flex;
  flex-direction: column;
  padding: 0 40px 24px 40px;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.products-list__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.products-list__image {
  order: -1;
  margin: 0 auto;
  margin-top: -51px;
  margin-bottom: 16px;
}

.products-list__description {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.products-list__price {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.products-list__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  padding: 0;
  background-color: #ff2f64;
  border: none;
  border-radius: 50%;
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.products-list__button:hover {
  background-color: #fcfcfc;
  border: 2px solid #ff2f64;
}

.products-list__button:hover .products-list__button-icon-path {
  fill: #2d3440;
}

.products-list__button:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.products-list__button:focus {
  outline: none;
}

.products-list__button:focus-visible {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
}

.products-list__button:focus-visible .products-list__button-icon-path {
  fill: #fcfcfc;
}

.products-list__button:disabled {
  background-color: #b9b9b9;
}

.products-list__button:disabled .products-list__button-icon-path {
  fill: #565c66;
}

.about-us__content {
  position: relative;
  padding: 24px 24px;
  background-image: url("../../images/waffle.jpg");
  border-radius: 16px;
}

.about-us__container {
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-us__description-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 40px;
}

.about-us__description {
  margin: 0;
  padding-left: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-repeat: no-repeat;
}

.about-us__description--ice-lolly {
  background-image: url("../../images/ice-lolly.svg");
}

.about-us__description--cow {
  width: 95%;
  background-image: url("../../images/cow.svg");
}

.about-us__description--sheet {
  background-image: url("../../images/sheet.svg");
}

.about-us__description--thermometer {
  background-image: url("../../images/thermometer.svg");
}

.our-block {
  width: 570px;
  min-height: 224px;
  background-color: #fcfcfc;
  background-image: url("../../images/news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.our-block__text {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.our-block__description {
  width: 60%;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.our-block__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 33px 32px;
  text-decoration: none;
  color: #2d3440;
}

.our-block__link:hover {
  opacity: 0.5;
}

.our-block__link:active {
  opacity: 0.3;
}

.our-block__link:focus {
  outline: none;
}

.our-block__link:focus-visible {
  opacity: 0.3;
}

.subscribe {
  width: 570px;
  padding: 6px;
  background: repeating-linear-gradient(-45deg, #edf0f5 12px, #68a8ff 12px, #68a8ff 18px, #edf0f5 18px, #edf0f5 30px, #ff2e65 30px, #ff2e65 36px, #edf0f5 36px, #edf0f5 48px, #68a8ff 48px);
  border-radius: 16px;
}

.subscribe__form-label {
  width: 332px;
}

.subscribe__container {
  height: 100%;
  padding: 26px;
  border-radius: 16px;
  background-color: #ffffff;
}

.subscribe__description {
  margin: 0;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__form-button {
  margin-right: 4px;
}

.delivery__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
  background-color: #fcfcfc;
  background-image: url("../../images/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery__wrapper {
  width: 371px;
  padding-top: 6px;
}

.delivery__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.delivery__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  width: 500px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery__form-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.delivery__form-field-group {
  width: 420px;
  margin-bottom: 20px;
}

.delivery__form-field-group--date {
  width: 117px;
}

.delivery__form-field-group--telephone {
  width: 287px;
}

.delivery__form-field-group--address {
  margin-bottom: 32px;
}

.delivery__form-label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.delivery__form-label {
  display: inline-block;
  margin-right: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery__form-button {
  margin: 0 auto;
  margin-bottom: 2px;
}

.delivery__tooltip {
  position: relative;
}

.tooltip:focus-within .tooltip__text {
  display: block;
}

.tooltip:hover .tooltip__icon {
  color: #ff2f64;
}

.tooltip:active .tooltip__icon {
  color: rgba(255, 47, 100, 0.5);
}

.tooltip:focus-visible {
  border-radius: 30px;
  outline: 2px solid #2d3440;
  outline-offset: 1px;
}

.tooltip__icon {
  display: flex;
  color: #2d3440;
}

.tooltip__icon:hover + .tooltip__text {
  display: block;
}

.tooltip__text {
  position: absolute;
  top: -12px;
  left: 27px;
  display: none;
  width: max-content;
  max-width: 163px;
  padding: 10px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
}

.tooltip__text::before {
  position: absolute;
  top: 12px;
  left: -7px;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  transform: rotate(-45deg);
  z-index: 1;
  content: "";
}

.contacts__content {
  padding: 64px;
  background-color: #fcfcfc;
  background-image: url("../../images/feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts__container {
  width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts__text {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.contacts__text--additional {
  margin-bottom: 30px;
  font-size: 14px;
}

.contacts__address {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__phone {
  margin-left: -7px;
  padding: 0 7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 30px;
}

.contacts__phone:hover {
  color: #ff2f64;
}

.contacts__phone:active {
  color: rgba(255, 47, 100, 0.5);
}

.contacts__phone:focus-visible {
  outline: 2px solid #2d3440;
}

.contacts__button {
  margin-bottom: 2px;
  text-decoration: none;
  color: #fcfcfc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 5;
}

.modal--close {
  display: none;
}

.modal__feedback {
  margin: auto;
}

.feedback {
  position: relative;
  width: 570px;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.feedback__close-button {
  position: absolute;
  top: 32px;
  right: 32px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form-label {
  display: inline-block;
  margin-bottom: 16px;
  width: 442px;
}

.feedback__form-label--message {
  margin-bottom: 30px;
}

.feedback__form-button {
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -35%;
  width: 12px;
  height: 12px;
  background-image: url("../../images/breadcrumbs-icon.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  content: "";
}

.breadcrumbs__link {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 30px;
}

.breadcrumbs__link:not(.breadcrumbs__link--current):hover {
  color: #fcfcfc;
}

.breadcrumbs__link:active {
  color: rgba(252, 252, 252, 0.5);
}

.breadcrumbs__link:focus-visible {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
}

.breadcrumbs__link--current {
  border-bottom: 1px solid #2d3440;
  border-radius: 0;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group__title {
  margin-bottom: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filter-group__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 24px;
  background-color: #ffcbd8;
  border-radius: 20px;
  list-style-type: none;
}

.filter-group__item:not(:last-child) {
  margin-right: 16px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-form__filter-group {
  margin-right: 24px;
  margin-bottom: 16px;
}

.filter-form__filter-group--checkbox .filter-group__list {
  padding: 10px 24px;
}

.filter-form__button {
  margin-top: 11px;
  padding: 8px 52px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
  outline: 2px solid #fcfcfc;
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.filter-form__button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-form__button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.filter-form__button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.filter-form__button:disabled {
  opacity: 0.4;
}

.select {
  width: 196px;
}

.select__control {
  width: 100%;
  padding: 8px 63px 8px 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../../images/select-icon.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;
  border: none;
  border-radius: 20px;
  appearance: none;
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.select__control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select__control:active {
  background-color: rgba(252, 252, 252, 0.3);
}

.select__control:focus-visible {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #fcfcfc;
}

.range {
  width: 196px;
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range__scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range__bar {
  position: absolute;
  top: 0;
  left: 30px;
  width: 75px;
  height: 2px;
  background-color: #565c66;
}

.range__toggle {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: #2d3440;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}

.range__toggle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fcfcfc;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.range__toggle:hover {
  background-color: #fcfcfc;
}

.range__toggle:hover::after {
  background-color: #2d3440;
}

.range__toggle:active::after {
  background-color: #2d3440;
}

.range__toggle:focus {
  outline: none;
}

.range__toggle:focus-visible {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
}

.range__toggle--min {
  left: -6px;
}

.range__toggle--max {
  left: 66px;
}

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control__icon {
  margin-right: 8px;
}

.control__icon:hover .control__icon-path {
  fill: #fcfcfc;
}

.control__icon:active .control__icon-path {
  fill-opacity: 0.3;
}

.control__icon--checked {
  display: none;
}

.control__checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.5px solid #2d3440;
  border-radius: 2px;
}

.control__input:hover + .control__checkbox {
  border-color: #fcfcfc;
}

.control__input--radio:checked:hover + .control__checkbox::after {
  background-color: #fcfcfc;
}

.control__input:focus-visible + .control__icon,
.control__input:focus-visible ~ .control__icon--checked,
.control__input:focus-visible + .control__checkbox {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
}

.control__input:disabled + .control__checkbox {
  opacity: 0.5;
}

.control__input--radio:checked + .control__checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.control__input--checkbox:checked + .control__icon {
  display: none;
}

.control__input--checkbox:checked ~ .control__icon--checked {
  display: block;
}

.control__input--radio + .control__checkbox {
  border-radius: 50%;
}

.control__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog__list {
  margin-bottom: 57px;
}

.catalog__button {
  margin-left: auto;
  margin-right: 28.7%;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__button {
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url("../../images/select-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination__button:not(.pagination__button--active):hover {
  opacity: 0.5;
}

.pagination__button:not(.pagination__button--active):active {
  opacity: 0.3;
}

.pagination__button:focus {
  outline: none;
}

.pagination__button:focus-visible {
  opacity: 0.3;
}

.pagination__button--prev {
  transform: rotate(90deg);
  margin-right: 8px;
}

.pagination__button--next {
  transform: rotate(-90deg);
  margin-left: 8px;
}

.pagination__button--active {
  opacity: 0.3;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.pagination__link:not(.pagination__link--active):hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.pagination__link:not(.pagination__link--active):active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
  border: 1px solid #fcfcfc;
}

.pagination__link:focus {
  outline: none;
}

.pagination__link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 1px solid #2d3440;
}

.pagination__link--active {
  background-color: #fcfcfc;
  border-radius: 50%;
}
